<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
<h2>{{ header1 }}</h2>
<table border="1" cellpadding="5">
    <tr class="heading">
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id|e }}</td>
        <td>{{ user.name|e }}</td>
        <td><a href="mailto:{{ user.email|escape }}">{{ user.email|e }}</a></td>
    </tr>
    {% endfor %}
</table>
<h2>{{ header2 }}</h2>
<table border="1" cellpadding="5">
    <tr class="heading">
        <td>Id order</td>
        <td>Id user</td>
        <td>Address</td>
        <td>Comment</td>
        <td>Pay</td>
        <td>Callback</td>
        <td>Date</td>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id|e }}</td>
        <td>{{ order.id_user|e }}</td>
        <td>{{ order.address|e }}</td>
        <td>{{ order.comment|e }}</td>
        <td>{{ order.pay|e }}</td>
        <td>{{ order.callback|e }}</td>
        <td>{{ order.orderdate|e }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>